@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: white;
    color: black;
}


@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}

.poppins {
  font-family: "Poppins";
}

@font-face {
  font-family: "Abel";
  src: url("../fonts/Abel-Regular.ttf");
}

.abel {
  font-family: "Abel";
}

@font-face {
  font-family: "Hatch";
  src: url("../fonts/Hatch\ Brush\ .ttf");
}

.hatch {
  font-family: "Hatch";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

